<div class="well well-sm">
<b>配置变量说明：</b><br />
<ul>
	<li>{key} 配置 key</li>
	<li>{value} 配置 Value</li>
</ul>
</div>

<hr />
<div class="alert alert-warning alert-dismissible hide" role="alert"></div>

<form class="form-horizontal" method="post" action="{{urlfor "ConfigController.Edit"}}">
	<input type="hidden" name="id" value="{{.config.Id}}" />
	<div class="form-group">
		<label for="key" class="col-sm-2 control-label">配置 key</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" id="key" name="key" value="{{.config.Key}}">
		</div>
	</div>
	
	<div class="form-group">
		<label for="mail-content" class="col-sm-2 control-label">配置 value</label>
		<div class="col-sm-8">
			<div class="wysiwyg-editor" id="mail-content">{{str2html .config.Value}}</div>
		</div>
	</div>

	<div class="clearfix form-actions">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>
			<a href="{{urlfor "ConfigController.List"}}" class="btn btn-default"><i class="ace-icon fa fa-reply bigger-110"></i>返回</a>
		</div>
	</div>
</form>

<script src="assets/js/jquery.hotkeys.min.js"></script>
<script src="assets/js/bootstrap-wysiwyg.min.js"></script>
<script type="text/javascript">
jQuery(function($){
	$('#mail-content').ace_wysiwyg({
		toolbar:
		[
			'font',
			null,
			'fontSize',
			null,
			{name:'bold', className:'btn-info'},
			{name:'italic', className:'btn-info'},
			{name:'strikethrough', className:'btn-info'},
			{name:'underline', className:'btn-info'},
			null,
			{name:'insertunorderedlist', className:'btn-success'},
			{name:'insertorderedlist', className:'btn-success'},
			{name:'outdent', className:'btn-purple'},
			{name:'indent', className:'btn-purple'},
			null,
			{name:'justifyleft', className:'btn-primary'},
			{name:'justifycenter', className:'btn-primary'},
			{name:'justifyright', className:'btn-primary'},
			{name:'justifyfull', className:'btn-inverse'},
			null,
			{name:'createLink', className:'btn-pink'},
			{name:'unlink', className:'btn-pink'},
			null,
			{name:'insertImage', className:'btn-success'},
			null,
			'foreColor',
			null,
			{name:'undo', className:'btn-grey'},
			{name:'redo', className:'btn-grey'}
		]
	}).prev().addClass('wysiwyg-style2');
	
	$('form').on('submit', function() {
		var url = $('form').attr('action') + "?_t=" + Math.random();
		$('.alert').addClass('hide');
		$('button[type="submit"]').attr('disabled', true);
		var data = {
			id: $("input[name='id']").val(),
			name: $("input[name='key']").val(),
			value: $("#mail-content").html()
		};

		$.post(url, data, function (out) {
			if (out.status == MSG_OK) { // 成功
				if (out.redirect != "") {
					window.location.href = out.redirect;
				} else {
					window.location.reload();
				}
			} else if (out.status == MSG_REDIRECT) {
				window.location.href = out.redirect;
			} else if (out.status == MSG_ERR) {
				if ($('.alert')) {
					$('.alert').removeClass('hide');
					$('.alert').html(out.msg);
				} else {
					alert(out.msg);
				}
				$('button[type="submit"]').removeAttr('disabled');
			}
		});
		return false;
	});
});
</script>
