<div class="row">
	<div class="col-sm-12">
	
	<h4 class="header smaller lighter blue">任务信息</h4>
	<div class="profile-user-info profile-user-info-striped">
		<div class="profile-info-row">
			<div class="profile-info-name">任务ID：</div>
			<div class="profile-info-value">{{.task.Id}}</div>
		</div>
		<div class="profile-info-row">
			<div class="profile-info-name">发布资源：</div>
			<div class="profile-info-value">{{.task.ResourceInfo.Name}} （{{.task.ResourceInfo.Domain}}）</div>
		</div>
		<div class="profile-info-row">
			<div class="profile-info-name">发布版本：</div>
			<div class="profile-info-value">{{.task.ResourceInfo.Version}} </div>
		</div>
		<div class="profile-info-row">
			<div class="profile-info-name">发布MD5：</div>
			<div class="profile-info-value">{{.task.ResourceInfo.MD5}}</div>
		</div>
		<div class="profile-info-row">
			<div class="profile-info-name">发布环境：</div>
			<div class="profile-info-value">{{.env.Name}}</div>
		</div>
		<div class="profile-info-row">
			<div class="profile-info-name">发布包路径：</div>
			<div class="profile-info-value">
			{{.task.ResourceInfo.RepoUrl}}
			</div>
		</div>
		<div class="profile-info-row">
			<div class="profile-info-name">构建状态：</div>
			<div class="profile-info-value">
			{{if eq .task.BuildStatus 1}}
			<span class="text-success">成功</span>
			{{end}}
			{{if eq .task.BuildStatus -1}}
			<span class="text-danger">失败（{{.task.ErrorMsg}}）</span>
			{{end}}
			</div>
		</div>
	</div>
	<h4 class="header smaller lighter blue">版本说明</h4>
	<div class="well">{{str2html .task.Message}}</div>
	
	<div class="clearfix form-actions">
		<div class="col-sm-offset-2 col-sm-10">
			<a href="{{urlfor "TaskController.List"}}" class="btn btn-default"><i class="ace-icon fa fa-reply bigger-110"></i>返回</a>
		</div>
	</div>	
	
	</div>
</div>
