
		<div class="row">
			<div class="col-xs-12">
				<input type="text" id="fileName" name="fileName" />
				<input type="button" class="btn btn-sm btn-default" id="downBtn" value="下载" />
			</div>
		</div>
		<div class="space-4"></div>
		<div class="tabbable">
			<ul class="nav nav-tabs" id="list-tab">
				<li class="active">
					<a href="{{urlfor "ResourceController.List"}}">资源列表</a>
				</li>
			</ul>

			<div class="tab-content">
				<div class="row">
					<div class="col-xs-12">
						<form class="form-inline" method="post" action="{{urlfor "ResourceController.List"}}">
							<div class="input-group input-group-sm">
								<select name="status">
									<option value="1">失败</option>
									<option value="2">成功</option>
								</select>
							</div>
							<div class="input-group input-group-sm">
								<button type="submit" class="btn">查询</button>
							</div>
						</form>
					</div>
				</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th>ID</th>
						<th>标识符</th>
						<th>包名</th>
						<th>Hash</th>
						<th>状态</th>
						<th>创建时间</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					{{range $k, $v := .list}}
						<tr>
							<td class="center">{{$v.Id}}</td>
							<td>{{$v.UploadFileName}}</td>
							<td>{{$v.Domain}}</td>
							<td>{{$v.Hash}}</td>
							<td>{{date $v.CreateTime "Y-m-d H:i:s"}}</td>
							<td>
								{{if eq $v.Status -1}}<b class="red">本地发布失败</b>{{end}}
								{{if eq $v.Status 0}}<b class="green">待处理</b>{{end}}
								{{if eq $v.Status 1}}<b class="green">发布中</b>{{end}}
								{{if eq $v.Status 2}}<b class="green">本地成功</b>{{end}}
								{{if eq $v.Status 3}}<b class="green">全部成功</b>{{end}}
							</td>
							<td>
								<a href="{{urlfor "ResourceController.Del" "id" $v.Id}}" class="delete_confirm">删除资源</a>
								<a href="{{urlfor "ResourceController.RePublish" "id" $v.Id}}" class="publish_confirm">重新发布</a>
							</td>
						</tr>
					{{end}}
					
					{{if eq .count 0}}
						<tr>
							<td colspan="20">暂无记录...</td>
						</tr>
					{{end}}
					</tbody>
				</table>
			</div>
		</div>
			</div>
</div>
		<div class="row">
			<div class="col-xs-12">{{str2html .pageBar}}</div>
		</div>
		
<script type="text/javascript">
$("#downBtn").click(function(){
		var url = '/resource/download?fileName=' + $("#fileName").val()
		window.open(url)	
});
</script>